fastapi==0.111.0
uvicorn==0.30.1
sqlalchemy==2.0.31
asyncpg==0.29.0
pydantic==2.7.4
pydantic-settings==2.3.4
python-dotenv==1.0.1
psycopg2-binary==2.9.9
pandas==2.2.2
numpy==1.26.4
yfinance==0.2.40
astral==3.2
pytz==2024.1
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.9
